In [11]:
import pandas as pd
import panel as pn
import hvplot.pandas
import numpy as np
import geopandas as gpd
import cartopy.crs as ccrs
import matplotlib.pyplot as plt

In [14]:
df=pd.read_csv("Processed_data.csv")
df.sample(10)

,rank,finalWorth,personName,age,country,countryOfCitizenship,source,industries,organization,selfMade,...,title,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,total_tax_rate_country,latitude_country,longitude_country
211,208,9200,Azim Premji,78,India,India,Software services,Technology,Wipro Ltd.,False,...,Founder Chairman,180.44,7.7,"$2,611,000,000,000",28.1,113.0,69.4,49.7,20.593684,78.962880
2463,2405,1100,Peter Kamprad,59,Belgium,Sweden,IKEA,Finance & Investments,Unknown,False,...,Unknown,117.11,1.4,"$529,606,710,418",79.7,103.9,81.6,55.4,50.503887,4.469936
1999,1905,1500,Jeff Tangney,51,United States,United States,Healthcare IT,Healthcare,Doximity,True,...,CEO,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,36.6,37.090240,-95.712891
1608,1575,1900,Dominika Kulczyk,46,United Kingdom,Poland,Diversified,Finance & Investments,Unknown,False,...,Unknown,119.62,1.7,"$2,827,113,184,696",60.0,101.2,81.3,30.6,55.378051,-3.435973
440,437,5900,Tsai Eng-meng,66,China,Taiwan,"Food, beverages",Food & Beverage,Unknown,False,...,Unknown,125.08,2.9,"$19,910,000,000,000",50.6,100.2,77.0,59.2,35.861660,104.195397
2592,2540,1000,Koo Bon-neung,74,South Korea,South Korea,Electronics,Manufacturing,Heesung Electronics,False,...,Unknown,115.16,0.4,"$2,029,000,000,000",94.3,98.1,82.6,33.2,35.907757,127.766922
510,511,5200,Alexandre Behring,56,United States,Brazil,Investments,Finance & Investments,Unknown,True,...,Unknown,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,36.6,37.090240,-95.712891
697,679,4100,Liangzhi Xie & family,57,China,China,Biotech,Healthcare,Unknown,True,...,Unknown,125.08,2.9,"$19,910,000,000,000",50.6,100.2,77.0,59.2,35.861660,104.195397
2098,2020,1400,Igor Rybakov,51,Russia,Russia,Building materials,Manufacturing,Unknown,True,...,Unknown,180.75,4.5,"$1,699,876,578,871",81.9,102.6,72.7,46.2,61.524010,105.318756
865,852,3400,John Middleton,68,United States,United States,Tobacco,Food & Beverage,Unknown,False,...,Unknown,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,36.6,37.090240,-95.712891

In [17]:
df["industries"].value_counts()

industries
Finance & Investments         372
Manufacturing                 324
Technology                    314
Fashion & Retail              266
Food & Beverage               212
Healthcare                    201
Real Estate                   193
Diversified                   187
Energy                        100
Media & Entertainment          91
Metals & Mining                74
Automotive                     73
Service                        53
Construction & Engineering     45
Logistics                      40
Sports                         39
Telecom                        31
Gambling & Casinos             25
Name: count, dtype: int64